/* makes all text (besides buttons) black with white outline and the background a light bluish green.  */
body{
    background-color: rgba(127, 255, 212, .6);
    color: black;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
/* centers "coding quiz" */
h1 {
    text-align: center;
}
